<nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Lojas HG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Ofertas</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Moda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tecnologia</a></li>
                <li><a class="dropdown-item" href="#">Casa e Móveis</a></li>
                <li><a class="dropdown-item" href="#">Esportes e Fitness</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Regiões
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                  <label class="form-check-label" for="checkbox1">Brasil</label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                  <label class="form-check-label" for="checkbox1">EUA</label>
                </div>
              </li>
              <li>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                  <label class="form-check-label" for="checkbox1">China</label>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">Contato</a>
          </li>
        </ul>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <div class="input-group">
          <input class="form-control me-2 busca" type="search" placeholder="Buscar produtos, marcas e muito mais..." aria-label="Search">
          <button class="btn btn-outline-success custom" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
        </form>
      </div>
      <a href="#" class="btn btn-link">
        <i class="bi bi-person login" data-bs-toggle="tooltip" data-bs-placement="top" title="Fazer login/cadastro"></i>
      </a>
      <a href="#" class="btn btn-link">
        <i class="bi bi-cart icon-cart carrinho" data-bs-toggle="tooltip" data-bs-placement="top" title="Carrinho de compras"></i>
        <span class="cart-count">0</span>
      </a>      
      </div>
    </div>
  </nav>