  /* .nav-link:focus {
    color: white;
  } */

  /* .bg-black{
    color: black !important;
  } */

  /* .nav-link .link-active {
    color: white !important;
  } */

  .nav-link{
    color: #999;
  }

  .nav-link:hover{
    color: #ccc;
  }

  .form-control {
    background-color: #fff;
    width: 400px !important;

  }

  .navbar-brand {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
}


.nav-item {
    margin-right: 30px;
}

.login {
    font-size: 2em;
    color: white;
  }

.carrinho{
    font-size: 2em;
    color: white;
}

.form-check-input{
  margin-left: 1px !important;
}

.form-check-label{
  margin-left: 20px !important;
}

a {
  text-decoration: none;
}

.cart-count {
  text-decoration: unset;
  background-color: #5bc0de;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
}

.custom {
  border-color: white;
  color: white;
}

.custom:hover {
  background-color: #5bc0de;
  border-color: #5bc0de;
  color: white;
}

.busca::placeholder {
  color: #aaa;
}

.busca:focus {
  color: black;
}