<div class="container-fluid footer">
    <div class="row custom-row">
        <div class="col-lg-4 custom-col">
            <div class="row custom-inner-row">
                <div class="col-lg-4 custom-inner-col">
                    <span class="span-footer">Sobre o site</span>
                    <ul class="lista-footer">
                        <li><a class="links-footer" href="#">Sobre nós</a></li>
                        <li><a class="links-footer" href="#">Políticas do site</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 custom-inner-col">
                    <span class="span-footer">Atendimento ao cliente</span>
                    <ul class="lista-footer">
                        <li><a class="links-footer" href="#">Central de ajuda</a></li>
                        <li><a class="links-footer" href="#">Pesquisa de satisfação</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 custom-inner-col">
                    <span class="span-footer">Minha conta</span>
                    <ul class="lista-footer">
                        <li><a class="links-footer" href="#">Entre</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="row social-icons">
        <div class="col-lg-12 text-center">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-tiktok"></i></a>
        </div>
    </div>
</div>