<div class="background">
<div class="container">
  <h4>Ofertas do dia <a href="#" class="all">Ver mais</a></h4>
  <div class="row mx-auto">
    <div class="col-md-3 mb-2">
      <a href="#" class="card-link">
      <div class="card">
        <div class="position-relative">
        <img src="../../../assets/img/guitarra.jpg" class="card-img-top" alt="guitarra">
          <button class="heart-icon" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar aos favoritos">
            <i class="bi bi-heart-fill"></i>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title title">R$ 1.045,00</h5>
          <p class="card-text">Guitarra Tagima TG-510</p>
          <button class="btn custom-btn-primary">Comprar</button>
          <button class="btn custom-btn-lightblue">Adicionar ao carrinho</button>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-3 mb-2">
      <a href="#" class="card-link">
      <div class="card">
        <div class="position-relative">
        <img src="../../../assets/img/fone.jpg" class="card-img-top" alt="fone">
          <button class="heart-icon" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar aos favoritos">
            <i class="bi bi-heart-fill"></i>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title title">R$ 278,00</h5>
          <p class="card-text">Fone de ouvido sem fio JBL</p>
          <button class="btn custom-btn-primary">Comprar</button>
          <button class="btn custom-btn-lightblue">Adicionar ao carrinho</button>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-3 mb-2">
      <a href="#" class="card-link">
      <div class="card">
        <div class="position-relative">
        <img src="../../../assets/img/controle.jpg" class="card-img-top" alt="controle">
          <button class="heart-icon" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar aos favoritos">
            <i class="bi bi-heart-fill"></i>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title title">R$ 409,00</h5>
          <p class="card-text">Controle Xbox One S</p>
          <button class="btn custom-btn-primary">Comprar</button>
          <button class="btn custom-btn-lightblue">Adicionar ao carrinho</button>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-3 mb-2">
      <a href="#" class="card-link">
      <div class="card">
        <div class="position-relative">
        <img src="../../../assets/img/camisa.jpg" class="card-img-top" alt="camisa">
          <button class="heart-icon" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar aos favoritos">
            <i class="bi bi-heart-fill"></i>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title title">R$ 38,00</h5>
          <p class="card-text">Camisa feminina</p>
          <button class="btn custom-btn-primary">Comprar</button>
          <button class="btn custom-btn-lightblue">Adicionar ao carrinho</button>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <h4>Mais vendidos <a href="#" class="all">Ver mais</a></h4>
  <div class="row mx-auto">
    <div class="col-md-3 mb-2">
      <a href="#" class="card-link">
      <div class="card">
        <div class="position-relative">
        <img src="../../../assets/img/bicicleta.jpg" class="card-img-top" alt="bicicleta">
          <button class="heart-icon" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar aos favoritos">
            <i class="bi bi-heart-fill"></i>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title title">R$ 889,00</h5>
          <p class="card-text">Bicicleta KSW aro 29</p>
          <button class="btn custom-btn-primary">Comprar</button>
          <button class="btn custom-btn-lightblue">Adicionar ao carrinho</button>
        </div>
      </div>
    </a>
    </div>

    <div class="col-md-3 mb-2">
      <a href="#" class="card-link">
      <div class="card">
        <div class="position-relative">
        <img src="../../../assets/img/notebook.jpg" class="card-img-top" alt="notebook">
          <button class="heart-icon" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar aos favoritos">
            <i class="bi bi-heart-fill"></i>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title title">R$ 2.099,00</h5>
          <p class="card-text">Notebook Samsung Book</p>
          <button class="btn custom-btn-primary">Comprar</button>
          <button class="btn custom-btn-lightblue">Adicionar ao carrinho</button>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-3 mb-2">
      <a href="#" class="card-link">
      <div class="card">
        <div class="position-relative">
        <img src="../../../assets/img/tenis.jpg" class="card-img-top" alt="tenis">
          <button class="heart-icon" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar aos favoritos">
            <i class="bi bi-heart-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar aos favoritos"></i>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title title">R$ 664,00</h5>
          <p class="card-text">Tênis Nike Air Max SC</p>
          <button class="btn custom-btn-primary">Comprar</button>
          <button class="btn custom-btn-lightblue">Adicionar ao carrinho</button>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-3 mb-2">
      <a href="#" class="card-link">
      <div class="card">
        <div class="position-relative">
        <img src="../../../assets/img/relogio.jpg" class="card-img-top" alt="relogio">
          <button class="heart-icon" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar aos favoritos">
            <i class="bi bi-heart-fill"></i>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title title">R$ 300,00</h5>
          <p class="card-text">Relógio Technos</p>
          <button class="btn custom-btn-primary">Comprar</button>
          <button class="btn custom-btn-lightblue">Adicionar ao carrinho</button>
        </div>
      </div>
      </a>
    </div>
</div>